<a href="https://colab.research.google.com/github/jonatastbelotti/mo432-trab2/blob/master/Trab_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Jônatas Trabuco Belotti</br>
RA: 230260</br>
jonatas.t.belotti@hotmail.com

# Leia
Leia o arquivo Bias_correction_ucl.csv. O atributo de saída é Next_Tmax (a temperatura máxima no próximo dia). A derscriçao dos dados esta [aqui](https://archive.ics.uci.edu/ml/datasets/Bias+correction+of+numerical+prediction+model+temperature+forecast):


* Remova a coluna Date;
* Remova a coluna Next_Tmin (coluna 25). O objetivo original dos dados é prever tanto Next_Tmin quanto Next_tmax. Mas nos so vamos usar o Next_Tmax. Mas não queremos que o valor do Next_Tmin influencie nessa previsão;
* remova as linhas que tem valor faltante. Das 7752 linhas originais sobram 7588.

In [1]:
import pandas as pd

df = pd.read_csv("/content/Bias_correction_ucl.csv")
df = df.drop(["Date", "Next_Tmin"], axis=1) # Remove colunas
df = df.dropna() # Remove toda linha com pelo menos um valor faltante
df

      station  Present_Tmax  Present_Tmin  ...   Slope  Solar radiation  Next_Tmax
0         1.0          28.7          21.4  ...  2.7850      5992.895996       29.1
1         2.0          31.9          21.6  ...  0.5141      5869.312500       30.5
2         3.0          31.6          23.3  ...  0.2661      5863.555664       31.1
3         4.0          32.0          23.4  ...  2.5348      5856.964844       31.7
4         5.0          31.4          21.9  ...  0.5055      5859.552246       31.2
...       ...           ...           ...  ...     ...              ...        ...
7745     21.0          23.1          17.8  ...  0.5721      4456.024414       27.6
7746     22.0          22.5          17.4  ...  0.1332      4441.803711       28.0
7747     23.0          23.3          17.1  ...  0.1554      4443.313965       28.3
7748     24.0          23.3          17.7  ...  0.2223      4438.373535       28.6
7749     25.0          23.2          17.4  ...  0.2713      4451.345215       27.8

[7588 rows x 23 columns]

Separando as colunas do DataFrame em dados de entrada e dados de saída:

In [2]:
import numpy as np

entradas = df.drop(["Next_Tmax"], axis=1).to_numpy()
saidas = df["Next_Tmax"].to_numpy()
entradas.shape, saidas.shape

((7588, 22), (7588,))

# Execuções

Para cada um dos regressores abaixo aplique Validação Cruzada do tipo *5-fold*. Utilize RMSE como medida de erro de todos os regressores. A busca de hiperparametros será aleatória. O problema especificará um intervalo para hiperparametro. Use uma distribuição uniforme para escolher valores neste intervalo.

Reporte o valor do RMSE da melhor combinação de hiperparametros e o valor dos hiperparametros encontrados para cada regressor. Também reporte os valores do RMSE para os regressores do Scikit-learn com os valores padrão de hiperparâmetros.

## Regressão Linear
Não tem hiperparâmetro. Portanto, foi implementada apenas a validação cruzada.

In [35]:
from sklearn.model_selection import cross_validate
from sklearn.linear_model import LinearRegression
import numpy as np

resultados = cross_validate(LinearRegression(), entradas, saidas, cv=5, scoring="neg_root_mean_squared_error")
resultados = resultados['test_score']
print("RMSE: %s" % str(resultados))
print("RMSE médio: %s" % str(np.mean(resultados)))

RMSE: [-1.45728827 -1.63874781 -1.45413013 -1.62441096 -1.7131539 ]
RMSE médio: -1.5775462124225534